{% extends 'base.html' %}
{% block title%}
  Resources
{% endblock %}

{% block main %}

<div class="child">
  <div id="resourceLinksContainer">
    <dl>
        <legend><dt><a href="https://www.ams.usda.gov/" target="_blank">USDA Agricultural Marking Service</a></dt>
        </legend>
      
      <dd>USDA site that provides a farmers market directory, unbiased price and sales information to assist in the marketing and distribution of farm commodities.
      </dd>
        <legend><dt>
        <a href="https://farmersmarketcoalition.org/" target="_blank">Farmers Market Coalition</a>
      </dt></legend>
      <dd>A non-profit advocate for North American farmers markets. This site endeavors to foster strong state and regional farmers market 
        associations and bring information of farmers markets to the public.
      </dd>
    <legend><dt>
        <a href="https://www.eatwellguide.org/" target="_blank">Eat Well Guide</a>
      </dt></legend>
      <dd>Online guide helping to locate restaurants, farms, markets and other sources of sustainable food.
      </dd>
    <legend><dt>
        <a href="https://www.localharvest.org/orlando-fl" target="_blank">LocalHarvest </a>
      </dt></legend>
      <dd>An S-corporation site with a database of farmers markets registered with locations and product lists. Online shopping options available.</dd>
      <legend>
        <dt>
          <a href="https://ilsr.org/key-studies-why-local-matters/" target="_blank">Institute for Local Self Reliance</a>
        </dt>
      </legend>
      <dd>Interesting article containing case studies showing impacts by and on local small businesses.
      </dd>
</dl>
 

</div>

{% endblock %}

